<div class='bg espaco'>
    <div class='container-lg'>
        <div class='row w-100'>
            <div class='col-5'>
                <app-produtogaleria [imgs] = produtoimg></app-produtogaleria>
            </div>
            <div class='col-7'>
                <app-produtoinfo [infos]=produtoinfo></app-produtoinfo>
            </div>
        </div>
    </div>
</div>
<div class='pb-3'>
  
    <app-produtorelacionado></app-produtorelacionado>
    
</div>
<div class='bg espaco'>
</div>


<app-contato></app-contato>
<div class='bg espaco' >
</div>
