<div class='bg'>
    <div class='container-lg'>
        <div class='row w-100'>
            <div class='col text-center col-h1'>
                <h1>Clientes</h1>
            </div>
        </div>
        <div class='row w-100'>
            <img src='assets/img/Prancheta_1 (1).png' class='img-1  d-none'>
            <img src='assets/img/Prancheta_2.png' class='img-2  d-none'>
            <img src='assets/img/Prancheta_3.png' class='img-3 d-none'>
            <img src='assets/img/Prancheta_4.png' class='img-4  d-none'>
            <img src='assets/img/Prancheta_5.png' class='img-5  d-none'>
            <img src='assets/img/Prancheta_6.png' class='img-6  d-none'>
            <img src='assets/img/Prancheta_7.png' class='img-7  d-none'>

            <div class='col  '>
                <img class='img-show-5 slide-cliente d-none'src=''>
            </div>
            <div class='col '>
                
                <img class='img-show-4 slide-cliente d-none'src=''>
            </div>
            <div class='col '>
                
                <img class='img-show-3 slide-cliente d-none'src=''>
            </div>
            <div class='col'>
                
                <img class='img-show-2 slide-cliente d-none'src=''>
            </div>
            <div class='col '>
                
                <img class='img-show-1 slide-cliente d-none'src=''>
            </div>  
        </div>
    </div>

</div>
<div class='bg2'>

</div>