<footer>
    <div class='bg-1'>
        <div class='container-lg cont'>
            <div class='row '>
                <div class='col-3'>
                    <img src='assets/img/logocinza.png'>
                </div>
                <div class='col-2  text-center'>
                    <img  class='ico' src='assets/img/fb_gray.png'>
                </div>
                <div class='col-4  text-center d-inherit'>
                    <img  class='ico' src='assets/img/fb_gray.png'>
                    <p class='email'>vendas@fixdoor.com.br</p>
                </div>
                <div class='col-3  text-center d-inherit'>
                    <img  class='ico' src='assets/img/fb_gray.png'>
                    <p class='email'>(41) 3534-5750</p>
                </div>
            </div>

           
        </div>
    </div>
    <div class='bg-2'>
        <div class='container-lg cont'>
            <div class='row w-100'>
                <div class='col text-center'>
                    <p>HOME</p>
                </div>
                <div class='col text-center'>
                    <p>EMPRESA</p>
                </div>
                <div class='col text-center'>
                    <p>PRODUTOS</p>
                </div>
                <div class='col text-center'>
                    <p>BLOG</p>
                </div>
                <div class='col text-center'>
                    <p>CONTATO</p>
                </div>
            </div>
            <div class='row w-100'>
                <div class='col text-center footer-info'>
                    <p>Copyright ® FixDoor 2020</p>
                    <p>Desenvolvido por</p>
                    <p>Amanda Lopes, Lucas Barcellos e Ricardo Affonso</p>

                </div>
            </div>

           
        </div>
    </div>
</footer>