img{
    max-width: 100% ;
}
.bg-1{
    background: #1a2025;
}
.bg-2{
    background: #101417;
}


.ico{
    width: 35px;
    height: 35px;
    margin-top: 20px ;
}
.cont{
    padding-top: 35px;
    padding-bottom: 35px;
}

p{
    color:#888a8c;
}
.email{
    margin-top: 23px ;
}
.d-inherit{
    display: inherit !important;
}
.footer-info{
    margin-top: 20px;
    p{
            margin-bottom: 0rem !important;
    }
}