<div class='bg' id='contato'>
    <div class='container-lg'>
        <div class='row w-100 m-0'>
            <div class='col text-center'>
                <h1><strong>FALE CONOSCO</strong></h1>
            </div>
        </div>
        <div class='row w-100 m-0'>
            <div class='col-1'></div>
            <div class='col-5'>
               <div class='bordered text-center'>
                    <img src ='assets/img/fb_gray.png'>
                    <p>chamada para fale conosco</p>
               </div>
            </div>
            <div class='col-5'>
                <div class='form'>
                    <input type ='text' class='name w-100' placeholder="NOME" >
                    <input type ='text' class='email w-100' placeholder="EMAIL" >
                    <input type ='text' class='empresa w-100' placeholder="EMPRESA" >
                    <input type ='text' class='mensagem w-100' placeholder="MENSAGEM" >
                    <div class='ml-2 mr-2'>
                        <button>enviar mensagem</button>
                    </div>
                    
                </div>
               
            </div>
            <div class='col-1'></div>
        </div>
    </div>
</div>