<div class='bg'>
    <div class='container-lg'>
        <div class='row w-100'>
            <div class='col text-center col-h1'>
                <h1><strong>BLOG FIXDOOR</strong></h1>
            </div>
        </div>
    </div>
</div>

<div class='bg-2'>
    <div class='container-lg'>
        <div class='row w-100'>
            <div class='col-6 text-center pt-4 mt-4'>
               <app-noticiabox [titulo]="obj1.titulo" [imagen]="obj1.imagen" [gravata]="obj1.gravata" [id]="obj1.id" ></app-noticiabox>
            </div>
            <div class='col-6 text-center pt-4 mt-4'>
                <app-noticiabox [titulo]="obj1.titulo" [imagen]="obj1.imagen" [gravata]="obj1.gravata" [id]="obj1.id" ></app-noticiabox>
             </div>
        </div>
        <div class='row w-100'>
            <div class='col-6 text-center pt-4 mt-4'>
               <app-noticiabox [titulo]="obj1.titulo" [imagen]="obj1.imagen" [gravata]="obj1.gravata" [id]="obj1.id" ></app-noticiabox>
            </div>
            <div class='col-6 text-center pt-4 mt-4'>
                <app-noticiabox [titulo]="obj1.titulo" [imagen]="obj1.imagen" [gravata]="obj1.gravata" [id]="obj1.id" ></app-noticiabox>
             </div>
        </div>
    </div>
</div>