.bg{
    background-image: -webkit-gradient(linear,left top,right top,from(#e94e24),to(#f07e26));
    background-image: linear-gradient(to right,#e94e24,#f07e26);
    color:#fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.bg-2{
    background-color: #e7e7e7 !important;
}