.bg{
    background: #fff;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.init{
    margin-bottom: 3rem !important;
}