<div class='bg'>
    <div class='container-lg'>
        <div class='row w-100'>
            <div class='col text-center col-h1'>
                <h1><strong>BLOG FIXDOOR</strong></h1>
            </div>
        </div>
    </div>
</div>

<div class='bg-2'>
    <div class='container-lg'>
        <div class='row justify-content-center w-100'>
            <div class='col-10 info '>
                 <h1 class='titulo'>{{titulo}}</h1>
                 <p>por: {{por}}, em {{data}}</p>
            </div>
         </div>
         <div class='row justify-content-center w-100'>
            <div class='col'>
                <img src='{{img}}'>
            </div>
         </div>
        <div class='row justify-content-center w-100'>
           <div class='col-10'>
                <div  class='post-blog-div' [innerHTML]="text"></div>
           </div>
        </div>
    </div>
</div>

