<div class='row w-100 m-0 ml-1 mr-1'>
  <div class='col w-100 m-0 p-0'>
    <div class='row w-100 m-0 p-0'>
      <div class='col p-0 m-0'>
        <a href='post/{{id}}'>
        <div class='img' style=' background-image: url("{{imagen}}");'></div>
        </a>
      </div>
    </div>
    <a href='post/{{id}}'>
        <div class='row  w-100 m-0 p-0'>
        <div class='col p-0 m-0 titulo-blok'>
            <div class='row justify-content-center w-100 m-0 p-0'>

            <div class='col-10 p-0 m-0'>
                <div  class='text-left'>
                <h1 class='text'>{{titulo}}</h1>
                </div>
                <div class='gravata pt-2 text-left'>
                    <p>{{gravata}}</p>
                </div>
            </div>

            </div>
        </div>

        </div>
    </a>
  </div>
</div>
