<div class='bg'>
    <div class='container-lg cont-cont'>
        <div class='row w-100 m-0'>
            <div class='col-4 cont'>
                <div class='over'>
                    <div class='border-bg'>
                        <div class='text-center'>
                            <h1><strong>Missão</strong></h1>
                        </div>
                        
                        <p class='mt-4'>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                    
                </div>
            </div>
            <div class='col-4 cont'>
                <div class='over'>
                    <div class='border-bg'>
                        <div class='text-center'>
                            <h1><strong>Visão</strong></h1>
                        </div>
                        
                        <p class='mt-4'>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                    
                </div>
            </div>
            <div class='col-4 cont'>
                <div class='over'>
                    <div class='border-bg'>
                        <div class='text-center'>
                            <h1><strong>Valores</strong></h1>
                        </div>
                        
                        <p class='mt-4'>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>