.bg{
    background: #e7e7e7;
}
.cont{
    
    min-height: 20rem;
}
.cont-cont{
    padding-top: 0rem;
    padding-bottom: 0rem;

}
img{
    max-width: 100%;
}
.over{
   
   
    margin-top: -4rem;
    left: 0;
    top: 0;
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    
}
.border-bg{
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    padding-left: 15px;
    padding-right: 15px;
    background:#fff;
    padding-top: 25px;
    height: 20rem;
}