<div class='bg'>
    <div class='container-lg cont-cont'>
        <div class='row w-100 m-0'>
            <div class='col-3 cont'>
                <div class='over'>
                    <div class='border-bg'>
                        <div class='text-center'>
                            <img src ='assets/img/fb_gray.png'>
                        </div>
                        <p>peças para</p>
                        <p>Portas Seccionais</p>
                    </div>
                    
                </div>
            </div>
            <div class='col-3 cont'>
                <div class='over'>
                    <div class='border-bg'>
                        <div class='text-center'>
                            <img src ='assets/img/fb_gray.png'>
                        </div>
                        <p>peças para</p>
                        <p>Portas Seccionais</p>
                    </div>
                    
                </div>
            </div>
            <div class='col-3 cont'>
                <div class='over'>
                    <div class='border-bg'>
                        <div class='text-center'>
                            <img src ='assets/img/fb_gray.png'>
                        </div>
                        <p>peças para</p>
                        <p>Portas Seccionais</p>
                    </div>
                    
                </div>
            </div>
            <div class='col-3 cont'>
                <div class='over'>
                    <div class='border-bg'>
                        <div class='text-center'>
                            <img src ='assets/img/fb_gray.png'>
                        </div>
                        <p>peças para</p>
                        <p>Portas Seccionais</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>