.bg{
    background: #e7e7e7;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.bg-2{
    background: #fff;
    h1{
        color:#F07E26;
        margin-top: -1.5rem;
    }
    padding-bottom: 3rem;
}


button{
    background: #F07E26;
    border: none;
    margin-top: 2rem;
    width: 100%;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    color: #fff;
    padding: 2px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #1a2025;
    opacity: 1;
    text-align: center;
  }
  

  input{
    margin-top: 3rem;
    margin-bottom: 2rem;
    background: #fff0;
    border: none;
    width: 100%;
    border-bottom: solid;
    color: #1a2025;
    border-width: 2px;
    border-color: #1a2025;
    margin-bottom: 1rem;
}