


<div class='row w-100 m-0 p-0 mb-4'>
    <div class='col  m-0 p-0'>
        <div class='row w-100  m-0 p-0'>
            <div class='col'>
                <img src='{{imgs[0].img}}'>
            </div>
        </div>
        <div class='row w-100  m-0 p-0 mt-3'>

            <div class='col-1 mt-4'>
                <p><</p>
            </div>
            <div class='col'>
                <img src='{{imgs[0].img}}'>
            </div>
            <div class='col'>
                <img src='{{imgs[1].img}}'>
            </div>
            <div class='col'>
                <img src='{{imgs[2].img}}'>
            </div>
            <div class='col-1 mt-4'>
                <p>></p>
            </div>
        </div>
    </div>
</div>