<div class='row w-100 m-0 ml-1 mr-1'>
    <div class='col w-100 m-0 p-0'>
      <div class='row justify-content-center w-100 m-0 p-0'>
        <div class='col-10 p-0 m-0'  class='text-center'>
          <a href='produto/{{id}}' class='text-center'>
            <img src='{{imagen}}'>
          </a>
        </div>
      </div>
      <a href='produto/{{id}}'>
          <div class='row  w-100 m-0 p-0'>
          <div class='col p-0 m-0 titulo-blok'>
              <div class='row justify-content-center w-100 m-0 p-0'>
  
              <div class='col-10 p-0 m-0'>
                  <div  class='text-center'>
                  <p class='text'>{{titulo}}</p>
                  </div>
              </div>
  
              </div>
          </div>
  
          </div>
      </a>
    </div>
  </div>