
<div class='container-lg '>
    <div class='row w-100 '>
        <div class='col text-center mb-3 mt-3'>
            <h1>Produtos Relacionados</h1>
        </div>
    </div>
    <div class='row w-100'>
        <div class='col'>
            <div class='row w-100'>
                <div class='col-3'>
                    <app-produtovitrineobj [titulo]="obj.nome" [imagen]="obj.img"  [id]="obj.id" ></app-produtovitrineobj>
                </div>
                <div class='col-3'>
                    <app-produtovitrineobj [titulo]="obj.nome" [imagen]="obj.img"  [id]="obj.id" ></app-produtovitrineobj>
                </div>
                <div class='col-3'>
                    <app-produtovitrineobj [titulo]="obj.nome" [imagen]="obj.img"  [id]="obj.id" ></app-produtovitrineobj>
                </div>
                <div class='col-3'>
                    <app-produtovitrineobj [titulo]="obj.nome" [imagen]="obj.img"  [id]="obj.id" ></app-produtovitrineobj>
                </div>
                
            </div>
        </div>
        
    </div>
</div>
