/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.post-blog-div{
    
    p{
        font-weight: 500;
        font-size: 1.3rem !important;
        color: #1a2025;
    }
    
}