<div class='bg'>
    <div class='container-lg'>
        <div class='row w-100 m-0'>
            <div class='col text-center'>
                <h1><strong>A EMPRESA</strong></h1>
            </div>
        </div>
        <div class='row w-100 m-0 mt-4'>
            <div class='col text-center ml-2 mr-2'>
                <p><strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat</strong></p>
            </div>
            
        </div>
    </div>
</div>