.bg{
    background-image: -webkit-gradient(linear,left top,right top,from(#e94e24),to(#f07e26));
    background-image: linear-gradient(to right,#e94e24,#f07e26);
    padding-top: 5rem;
    padding-bottom: 5rem;
}
h1{
    color:#fff;
}
p{
    color:#fff; 
}